In [3]:
# This project purpose is to analyze tuwaiq candidates dataset and to visualize them to get insights for the upcoming ML module

import pandas as pd

In [13]:
# Read Data
tuwaiq = pd.read_csv('train.csv')
# Show Head Columns and Rows
tuwaiq.head()

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
0,4f14c50d-162e-4a15-9cf0-ec129c33bcf0,37.0,ذكر,منطقة الرياض,الرياض,453686d8-4023-4506-b2df-fac8b059ac26,PCRF,PCRF,NaN,NaN,...,نعم,البكالوريوس,هندسة حاسب الالي,NaN,2.44,4.0,غير موظف,NaN,NaN,0
1,0599d409-876b-41a5-af05-749ef0e77d32,21.0,ذكر,منطقة عسير,خميس مشيط,cc8e4e42-65d5-4fa1-82f9-6c6c2d508b60,APMR,SWPS,NaN,متوسط,...,نعم,البكالوريوس,الإذاعة والتلفزيون والفيلم,الفنون والعلوم الإنسانية,5.00,5.0,طالب,NaN,NaN,0
2,38a11c0e-4afc-4261-9c64-e94cc0a272fb,24.0,ذكر,منطقة الرياض,الرياض,e006900d-05a9-4c2b-a36f-0ffb9fce44cd,APMR,NaN,NaN,متوسط,...,نعم,البكالوريوس,Information Technology,NaN,3.50,5.0,موظف,NaN,NaN,0
3,1693e85b-f80e-40ce-846f-395ddcece6d3,23.0,ذكر,منطقة الرياض,الرياض,2ec15f6b-233b-428a-b9f5-e40bc8d14cf9,TOSL,TOSL,NaN,NaN,...,نعم,البكالوريوس,حوسبة تطبيقية - (مسار شبكات الحاسب),NaN,3.55,5.0,خريج,NaN,NaN,0
4,98a0e8d0-5f80-4634-afd8-322aa0902863,23.0,ذكر,منطقة الرياض,الرياض,d32da0e9-1aed-48c3-992d-a22f9ccc741e,CAUF,SWPS,تقليدية,متوسط,...,لا,البكالوريوس,نظم المعلومات الحاسوبية,تكنولوجيا الاتصالات والمعلومات,4.00,5.0,NaN,NaN,NaN,0

In [17]:
# Show dataset data types
tuwaiq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6548 entries, 0 to 6547
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Student ID                      6548 non-null   object
 1   Age                             6456 non-null   float64
 2   Gender                          6548 non-null   object
 3   Home Region                     6546 non-null   object
 4   Home City                       6546 non-null   object
 5   Program ID                      6548 non-null   object
 6   Program Main Category Code      6548 non-null   object
 7   Program Sub Category Code       5613 non-null   object
 8   Technology Type                 3566 non-null   object
 9   Program Skill Level             4902 non-null   object
 10  Program Presentation Method     6548 non-null   object
 11  Program Start Date              6548 non-null   object
 12  Program End Date                6548 non-null   object
 13  Program Days                    6548 non-null   int64
 14  Completed Degree                6548 non-null   object
 15  Level of Education              6522 non-null   object
 16  Education Speaciality           6271 non-null   object
 17  College                         2658 non-null   object
 18  University Degree Score         6467 non-null   float64
 19  University Degree Score System  6467 non-null   float64
 20  Employment Status               5982 non-null   object
 21  Job Type                        1981 non-null   object
 22  Still Working                   1981 non-null   object
 23  Y                               6548 non-null   int64
dtypes: float64(3), int64(2), object(19)
memory usage: 1.2+ MB